body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock {
    width: 200px;
    height: 200px;
    background: url('imgonlinecomuaCompressToSizeOmNATjUMFKw-300x300.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.hour,
.minute,
.second {
    position: absolute;
    width: 40%;
    height: 7px;
    background: #333;
    top: 50%;
    left: 29%;
    border-radius: 5px;
    transform-origin: 100%;
}

.second {
    background-color: red;
}